#see http://shanesbrain.net/2008/7/9/using-xcode-with-git
# xcode noise
build/*
*.log
*.trs
*.xcconfig
*.xcclassmodel/*
*.o
*.o-*
*.a
*.dylib 
*.pbxuser
*.mode1v3
*.mode2v3
*.pch
*.perspectivev3
*.jnilib
*.exe
*.user
*.suo
*.sdf
*.opensdf
xcuserdata/
*.deps/

*.jar


# osx noise
.DS_Store
profile

# emacs noise
*~

# cmake noise
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
cmake_install.cmake
install_manifest.txt
opentxs-server-0.0.1-1.x86_64.rpm
opentxs-server.spec
src/CMakeFiles/
src/cmake_install.cmake
src/createmint/CMakeFiles/
src/createmint/cmake_install.cmake
src/createmint/createmint
src/opentxs-server
Makefile

# visual studio noise
*.user
*.sdf
*ipch/
*.userprefs

# targets

build/
lib/
obj/
bin/

# linux build noise
*.lo
*.la
.dirstamp
.libs

# KDE Dolphin (file manager) noise
.directory
